body {
    background-image: url('images/background.png'); /* Replace with the actual path to your image */
    background-size: cover; /* Adjusts the size of the background image */
    background-repeat: no-repeat; /* Prevents image from repeating */
}
/* styles.css */

/* Style for the heading */

/*
.heading {
    color: black;
    font-size: 30px;
    padding: 20px;
    padding-left: 30px;
    
  
}
*/
